examples/File_input_WM
[{"id":"5abc4131.d0e89","type":"inject","z":"8478c04e.c3c91","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":110.00000762939453,"y":53.00001621246338,"wires":[["e612ce45.e53a9","59025293.7e54dc"]]},{"id":"e612ce45.e53a9","type":"file in","z":"8478c04e.c3c91","name":"File Input","filename":"satellitedata.txt","format":"utf8","x":178.00003051757812,"y":112.00000381469727,"wires":[["17a8dd24.e7a3b3"]]},{"id":"59025293.7e54dc","type":"timearray","z":"8478c04e.c3c91","plus":"50","minus":"50","samples":"1000","currentInclude":false,"name":"Time Array","x":280.6714553833008,"y":53.4000301361084,"wires":[["80177984.eeb9a8"]]},{"id":"17a8dd24.e7a3b3","type":"function","z":"8478c04e.c3c91","name":"Format Text Input","func":"payload={'textInput':msg.payload};\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"x":345.0000343322754,"y":113.00000953674316,"wires":[["80177984.eeb9a8"]]},{"id":"80177984.eeb9a8","type":"join","z":"8478c04e.c3c91","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":430.0000190734863,"y":54.0000057220459,"wires":[["64c8c7e8.52ac88"]]},{"id":"64c8c7e8.52ac88","type":"satellite","z":"8478c04e.c3c91","typeOption":"textOption","textInput":"ISS (ZARYA)             \n1 25544U 98067A   17155.90063808  .00001227  00000-0  25921-4 0  9998\n2 25544  51.6424  99.5653 0004782 232.5241 232.9799 15.53975323 59841","coordsys":"latlongdeg","name":"ISS","x":564,"y":54,"wires":[["a89cc6b8.238358","ce41df2a.985de"]]},{"id":"ce41df2a.985de","type":"debug","z":"8478c04e.c3c91","name":"","active":false,"console":"false","complete":"true","x":693.8999557495117,"y":96.54286670684814,"wires":[]},{"id":"5ce20022.75cd2","type":"worldmap","z":"8478c04e.c3c91","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":914.8998641967773,"y":54.5428409576416,"wires":[]},{"id":"a89cc6b8.238358","type":"FormatWorldmap","z":"8478c04e.c3c91","name":"","clear":"","x":732.9999580383301,"y":54.14284706115723,"wires":[["5ce20022.75cd2"]]}]