examples/HTTP_input_WM
[{"id":"571de3f4.6c2e7c","type":"inject","z":"eb05d366.d93a3","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":121.28571319580078,"y":204.42858123779297,"wires":[["a88a1155.e0be2","63725bdf.54c9c4"]]},{"id":"a88a1155.e0be2","type":"timearray","z":"eb05d366.d93a3","plus":"50","minus":"50","samples":"1000","currentInclude":false,"name":"Time Array","x":289.67144775390625,"y":206.25719738006592,"wires":[["87ea287f.f7ec48"]]},{"id":"63725bdf.54c9c4","type":"http request","z":"eb05d366.d93a3","name":"Website get","method":"GET","ret":"txt","url":"http://www.celestrak.com/NORAD/elements/stations.txt","tls":"","x":191.38572692871094,"y":258.2857484817505,"wires":[["83b285f6.f4d3a8"]]},{"id":"83b285f6.f4d3a8","type":"function","z":"eb05d366.d93a3","name":"Format Text Input","func":"payload={'textInput':msg.payload};\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"x":369.60010528564453,"y":258.2857389450073,"wires":[["87ea287f.f7ec48"]]},{"id":"87ea287f.f7ec48","type":"join","z":"eb05d366.d93a3","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":437.7143669128418,"y":205.7143039703369,"wires":[["17fb93ad.e8419c"]]},{"id":"17fb93ad.e8419c","type":"satellite","z":"eb05d366.d93a3","typeOption":"textOption","textInput":"ISS (ZARYA)             \n1 25544U 98067A   17155.90063808  .00001227  00000-0  25921-4 0  9998\n2 25544  51.6424  99.5653 0004782 232.5241 232.9799 15.53975323 59841","coordsys":"latlongdeg","name":"ISS","x":568.100170135498,"y":207.45716285705566,"wires":[["7d7a4ea2.42669"]]},{"id":"965f4454.e16af8","type":"debug","z":"eb05d366.d93a3","name":"","active":false,"console":"false","complete":"true","x":902.0001182556152,"y":254.00003147125244,"wires":[]},{"id":"7a461354.faf13c","type":"worldmap","z":"eb05d366.d93a3","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":919.0000343322754,"y":208.00000381469727,"wires":[]},{"id":"7d7a4ea2.42669","type":"FormatWorldmap","z":"eb05d366.d93a3","name":"","clear":"","x":737.1001281738281,"y":207.6000099182129,"wires":[["7a461354.faf13c","965f4454.e16af8"]]}]