examples/Timestamps_WM
[{"id":"61d555da.dc4fdc","type":"inject","z":"290d5351.d64e7c","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":136.14286041259766,"y":178.1428508758545,"wires":[["3a16dd4b.e57902","fa80519e.d53d7"]]},{"id":"7388f3fb.b1df2c","type":"worldmap","z":"290d5351.d64e7c","name":"Map","lat":"0","lon":"0","zoom":"2","layer":"Nat Geo","cluster":"1","maxage":"20","usermenu":"show","panit":"true","x":837.2857666015625,"y":122.85713291168213,"wires":[]},{"id":"11060608.79908a","type":"satellite","z":"290d5351.d64e7c","typeOption":"textOption","textInput":"ISS (ZARYA)             \n1 25544U 98067A   17194.91290509  .00001795  00000-0  34341-4 0  9998\n2 25544  51.6426 265.1081 0005697  31.8269 319.0863 15.54163451 65900","coordsys":"latlongdeg","name":"ISS","x":490.38585662841797,"y":126.60004425048828,"wires":[["93f101b0.31aed"]]},{"id":"3a16dd4b.e57902","type":"timearray","z":"290d5351.d64e7c","plus":"50","minus":"50","samples":"1000","currentInclude":false,"name":"Time Array","x":349.81431579589844,"y":126.40002918243408,"wires":[["11060608.79908a"]]},{"id":"fa80519e.d53d7","type":"satellite","z":"290d5351.d64e7c","typeOption":"textOption","textInput":"TIANGONG 1              \n1 37820U 11053A   17155.80953584  .00018069  00000-0  10286-3 0  9995\n2 37820  42.7593 275.7600 0019588 346.7239 150.8895 15.78349265326012","coordsys":"latlongdeg","name":"TIANGONG 1","x":463.00003814697266,"y":178.71431350708008,"wires":[[]]},{"id":"43e81510.10b3bc","type":"satellite","z":"290d5351.d64e7c","typeOption":"textOption","textInput":"NODES 2                 \n1 41477U 98067HX  17194.19325113  .00061279  00000-0  24766-3 0  9993\n2 41477  51.6246 227.6602 0002443   5.8133 354.2898 15.85724116 66198\nNODES 1                 \n1 41478U 98067HY  17194.93895445  .00063933  00000-0  26611-3 0  9996\n2 41478  51.6287 224.4295 0002458  11.5201 348.5859 15.85095525 66304","coordsys":"latlongdeg","name":"Nodes","x":494.14288330078125,"y":239.00003147125244,"wires":[["93f101b0.31aed"]]},{"id":"c00deda3.e8379","type":"inject","z":"290d5351.d64e7c","name":"No timestamp","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"x":128.14289093017578,"y":239.42859649658203,"wires":[["43e81510.10b3bc"]]},{"id":"93f101b0.31aed","type":"FormatWorldmap","z":"290d5351.d64e7c","name":"","clear":true,"x":665.1111526489258,"y":177.77779006958008,"wires":[["e897a089.7f3e6","7388f3fb.b1df2c"]]},{"id":"e897a089.7f3e6","type":"debug","z":"290d5351.d64e7c","name":"","active":false,"console":"false","complete":"true","x":827.1001205444336,"y":239.60000801086426,"wires":[]}]