examples/Timestamps_Earth
[{"id":"79108e4c.a15bb","type":"inject","z":"27a05d1f.e05a22","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":180,"y":136,"wires":[["38d679c8.8d2806","6a74b26f.5cd69c"]]},{"id":"8971148a.2ded48","type":"satellite","z":"27a05d1f.e05a22","typeOption":"textOption","textInput":"ISS (ZARYA)             \n1 25544U 98067A   17194.91290509  .00001795  00000-0  34341-4 0  9998\n2 25544  51.6426 265.1081 0005697  31.8269 319.0863 15.54163451 65900","coordsys":"euclid3d","name":"ISS","x":534.2429962158203,"y":84.45719337463379,"wires":[["98cd910d.d8516"]]},{"id":"38d679c8.8d2806","type":"timearray","z":"27a05d1f.e05a22","plus":"50","minus":"50","samples":"1000","currentInclude":true,"name":"Time Array","x":393.6714553833008,"y":84.25717830657959,"wires":[["8971148a.2ded48"]]},{"id":"6a74b26f.5cd69c","type":"satellite","z":"27a05d1f.e05a22","typeOption":"textOption","textInput":"TIANGONG 1              \n1 37820U 11053A   17155.80953584  .00018069  00000-0  10286-3 0  9995\n2 37820  42.7593 275.7600 0019588 346.7239 150.8895 15.78349265326012","coordsys":"euclid3d","name":"TIANGONG 1","x":506.857177734375,"y":136.5714626312256,"wires":[["98cd910d.d8516"]]},{"id":"cfaa1d46.e1c6","type":"satellite","z":"27a05d1f.e05a22","typeOption":"textOption","textInput":"NODES 2                 \n1 41477U 98067HX  17194.19325113  .00061279  00000-0  24766-3 0  9993\n2 41477  51.6246 227.6602 0002443   5.8133 354.2898 15.85724116 66198\nNODES 1                 \n1 41478U 98067HY  17194.93895445  .00063933  00000-0  26611-3 0  9996\n2 41478  51.6287 224.4295 0002458  11.5201 348.5859 15.85095525 66304","coordsys":"euclid3d","name":"Nodes","x":538.0000228881836,"y":196.85718059539795,"wires":[["98cd910d.d8516"]]},{"id":"e9771b0d.23a488","type":"inject","z":"27a05d1f.e05a22","name":"No timestamp","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"x":172.00003051757812,"y":197.28574562072754,"wires":[["cfaa1d46.e1c6"]]},{"id":"98cd910d.d8516","type":"FormatEarth","z":"27a05d1f.e05a22","name":"","clear":true,"x":698.1000671386719,"y":136.60001182556152,"wires":[["2ab69112.30cf1e","598dad9b.f48684"]]},{"id":"598dad9b.f48684","type":"earth","z":"27a05d1f.e05a22","name":"","x":861.1000709533691,"y":136.60001182556152,"wires":[]},{"id":"2ab69112.30cf1e","type":"debug","z":"27a05d1f.e05a22","name":"","active":false,"console":"false","complete":"payload","x":889,"y":197,"wires":[]}]